html,
body {
    margin: 0;
    padding: 15px;
}

body {
    background-color: aliceblue;
    border color: azure;
}

#wrap {
    width: 70%;
    margin: 0 auto;
    
}

header {
    text-align: center;
    
}

p{
    font-family: inherit;
    font-stretch: expanded;
}

img{
    text-align: center;
    
}


nav {
    text-align: center
}
p{
    text-align: center;
    font-size: 200%;

}

ul{
    padding: 30px;
    display: inline;
    font-size: 150%;
    font-style: oblique;
}
href{
    
}

section {
  text-align: center; 
    padding:50px;
}

footer {
      font-family: fantasy; text-align: center;
    font-size: 50%
}
